<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="default_suite">
    <parameter name="signInUrl" value="https://account.komoot.com/signin"/>
    <parameter name="engUrl" value="https://www.komoot.com/"/>
    <parameter name="discoverUrl" value="https://www.komoot.com/discover/Berlin/@52.5203000%2C13.3849000?distance=16.1"/>
    <parameter name="deUrl" value="https://www.komoot.de/"/>
    <parameter name="email" value="JohnDoe777test@gmail.com"/>
    <parameter name="password" value="PassWord123!#"/>
    <!-- TODO: refactor. Explaint later-->
    <parameter name="pageLoadWaitTime" value="6000"/>

    <parameter name="startPoint" value="Potsdam"/>
    <parameter name="destinationPoint" value="Berlin"/>

    <test name="tests">
        <classes>
            <!-- <class name="tests.RoutePlannerTests"/> -->
            <class name="tests.AccountTests"/>
        </classes>
    </test>

</suite>